
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎来到我的网站, <%= @user.name %></h1>
    <p>
      你已经成功的注册了我的网站
      你的用户名是: <%= @user.login %>.<br>
    </p>
    <p>
      进入这个网站, 点击这个链接: <%= @url %>.
    </p>
    <p>感谢你的加入并拥有美好的一天</p>
  </body>
</html>